/* @media print {
    body {
      margin: 0;
      padding: 0;
      background-color: white;
    }
    .no-print {
      display: none;
    }
    .print-container {
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      box-sizing: border-box;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f4f4f4;
    }
    .MuiSvgIcon-root {
        font-size: 1rem !important; 
      }
      .MuiButton-root {
        display: none; 
      }
  }
   */
